
.editsection{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0.8rem;
    border-width: 1px;
    border-color: #e9e5df;
    border-style: solid;
    font-size: 16px;
    
}
.questionIcon{
    width: 15px;
}
.questionIcon:last-of-type:hover{
    width: 20px;

}