#linklogo {
  width: 84px;
  height: 21px;
  object-fit: cover;
}

footer {
  font-size: 12px;
  font-weight: 600;

}

footer .text-secondary {
  color: rgba(0, 0, 0, 0.6)!important
}

footer span{
  font-size: 12px;
  font-weight: 400;
}

footer i {
  color: rgba(0, 0, 0, 0.6)!important;
  font-size: 20px;
}

#dropdown-basic-button {
  border: 0px solid white;
  margin-left: 0;
  padding: 0;
}
#dropdown-basic-button:hover {
  text-decoration: underline;
  background-color: white !important;
  color: grey !important;
}
.optionDrop {
  color: black !important;
  font-size: 12px;
}
.optionDrop:hover {
  color: rgb(20, 23, 189) !important;
}
.icons {
  max-width: 3px;
}

footer #dropdown-basic-button{
  font-size: 12px!important;
  background-color: #f3f2ef;
  color: #6c757d!important;
  font-family: inherit;
  font-weight: 600;
}

