#Navbar {
  width: 100%;
  font-size: 13px;
  padding-left: 100px;
  padding-right: 0;
  position: fixed;
  z-index: 100;
  background-color: white;
}

#linkedinIcon {
  font-size: 35px;
  color: rgb(44, 134, 236);
  margin-right: 10px;
  margin-left: 30px;
}

#userImg {
  border-right: 1px solid rgb(141, 134, 134);
}
#searchBar {
  margin-right: 240px;
}

#SearchBarNavbar {
  height: 38px;
}

#UserImageNavbar {
  width: 30px;
}

i {
  font-size: 20px;
}

#tryPremium {
  width: 150px;
  color: rgb(255, 174, 0);
}
