.userImage{
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-top: 20px;
    margin-left: 10px;
}

.peopleDescription{
    font-size:12px!important;
    margin-bottom: 5px;
}

.peopleName{
    font-size:15px!important;
    margin-bottom: 0px!important;
}
