#page {
    padding-top: 100px;
}

#profileSection {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0.8rem;
    border-width: 1px;
    border-color: #e9e5df;
    border-style: solid;
    
}

#profileSection button:not(#activityButton) {
    border-radius: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    border-color: rgba(0, 0, 0, 0.6);
    border-width: 1.5px;
    font-size: 16px;
    padding: 3px 16px!important;
  
}

hr:last-child{
    display: none;
}

#activityButton {
    background-color: white;
    display: inline-block;
    width: 100%;
    border: none;
    color:rgba(0, 0, 0, 0.6);
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}


#peopleSection {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0.8rem;
    border-width: 1px;
    border-color: #e9e5df;
    border-style: solid;
    
}

#peopleSection button {
    border-radius: 1rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    border-color: rgba(0, 0, 0, 0.6);
    border-width: 1.5px;
    font-size: 16px;
    padding: 3px 16px!important;
  
}

#peopleSection .card {
    border: none;
    margin-bottom: 0px;
}