.mainsticky {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mainsticky-items{
    display: flex;
    margin: 0.4rem 0.8rem
}